<footer class="footer">
  <div class="footer-content container">
    <h2 class="footer-content__title title"><a href="#">- get in touch with us -</a></h2>
    <p class="footer-content__text">
      Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec <br> malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
    </p>
    <div class="footer-content__icons">
      <a href=""><img src="@img/svg/RSS.svg" alt="" /></a>
      <a href=""><img src="@img/svg/Facebook.svg" alt="" /></a>
      <a href=""><img src="@img/svg/Twitter.svg" alt="" /></a>
      <a href=""><img src="@img/svg/Dribbble.svg" alt="" /></a>
      <a href=""><img src="@img/svg/Pinterest.svg" alt="" /></a>
    </div>
    <p class="footer-content__contacts">Moonshine St. 14-05 Light City / T. +00 (123) 456 78 90 / first.last@email.com</p>
  </div>
</footer>
