<header class="header">
  <div class="header__burger">
    <span></span>
  </div>
  <nav class="header__menu">
  <ul class="header-menu__list container">
    <li class="header-menu__list-item"><a href="#">Home</a></li>
    <li class="header-menu__list-item"><a href="#">About Us</a></li>
    <li class="header-menu__list-item"><a href="#">Our Journal</a></li>
    <li class="header-menu__list-item"><a href="#">Projects</a></li>
    <li class="header-menu__list-item"><a href="#">News</a></li>
    <li class="header-menu__list-item"><a href="#">Features</a></li>
    <li class="header-menu__list-item"><a href="#">Contact</a></li>
  </ul>
</nav>
</header>
