.intagram-shots {
	background-color: rgb(241, 241, 241);
	@media (max-width: 767px) {
		background-color: #fff;
	}
	// display: flex;
	// justify-content: space-between;
	// .intagram-shots__container

	// .intagram-shots__header

	&__header {
		display: flex;
		justify-content: space-between;
	}

	// .intagram-shots__header-link

	&__header-link {
		color: $color_1;
		margin-top: 66px;
		margin-bottom: 25px;
		font-weight: bold;
		font-size: 13px;
		line-height: 22px;
		text-transform: uppercase;
		@media (max-width: 767px) {
			display: none;
		}
	}

	// .intagram-shots__images

	&__images {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 50px;
		margin: -5px;
	}

	// @media (max-width: 1200px) {
	//   .item-intagram-shots {
	//     flex: 0 1 33.333%;
	//     flex-wrap: wrap;
	//     &:last-child {
	//       display: none;
	//     }
	//   }
	// }

}

.intagram-shots__image {
	flex: 1 1 280px;
	padding: 5px;
	box-sizing: border-box;
	@media (max-width: 1200px) {
		&:last-child {
			display: none;
		}
	}
	@media (max-width: 860px) {
		&:nth-child(3) {
			display: none;
		}
	}
	@media (max-width: 580px) {
		display: none;
		&:first-child {
			display: block;
		}
	}
}

.item-intagram-shots {
	width: 100%;
}