.resent-posts {
  // .resent-posts__container

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.item-resent-posts {
  display: flex;
  flex-direction: row;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  max-width: 560px;
  margin-bottom: 30px;
}
.posts-content {
  padding-left: 20px;
  @media (max-width: 767px) {
    padding: 0;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: $color_1;
  }

  // .posts-content__about

  &__about {
    font-size: 12px;
    line-height: 20px;
    color: #7c7c7c;
  }

  // .posts-content__text

  &__text {
    margin-top: 5px;
    font-size: 14px;
    line-height: 26px;
    color: #5c5c5c;
    @media (max-width: 767px) {
      display: none;
    }
  }
}