.footer {
  text-align: center;
  background-color: black;
  color: white;
}
.footer-content {
  // .footer-content__title

  &__title {
    color: #fefefe;
  }

  // .footer-content__text

  &__text {
    color: #b9b9b9;
    font-size: 16px;
    line-height: 28px;
  }

  // .footer-content__icons

  &__icons {
    padding: 35px 0;
    @media (max-width: 767px) {
      padding: 25px 0;
    }
  }

  // .footer-content__contacts

  &__contacts {
    color: #b9b9b9;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 70px;
  }
}