@import './variables.scss';

.header-menu__list {
  display: flex;
  justify-content: space-between;
  padding: 30px 180px 35px;
  &-item {
    color: $color_1;
    font-weight: 400;
    &:hover {
      color: #57a4a4;
    }
    padding: 17px 0;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
  }
  @media (max-width: 1200px) {
      padding: 40px 100px 45px;
  }
  @media (max-width: 767px) {
      display: block;
      position: absolute;
      background-color: #f5f5f5;
      width: 180px;
      top: 50px;
      right: 15px;
      padding: 0;
      opacity: 0;
      transition: 0.3s;
      &.active {
        opacity: 1;
      }
      &-item {
        padding: 5px 0;
        padding-left: 15px;
        &:hover {
          background-color: #e5e5e5;
        }
      }
    }
  }

@media (max-width: 767px) {
  .header__burger {
    display: block;
    background-color: #000;
    position: relative;
    width: 44px;
    height: 35px;
    float: right;
    margin: 15px;

    & span {
      background-color: white;
      position: absolute;
      width: 50%;
      height: 2px;
      left: 25%;
      top: 50%;
      transition: 0.3s;
    }

    &::before {
      content: '';
      background-color: white;
      position: absolute;
      width: 50%;
      height: 2px;
      left: 25%;
      top: 38%;
      transition: 0.3s;
    }
    &::after {
      content: '';
      background-color: white;
      position: absolute;
      width: 50%;
      height: 2px;
      left: 25%;
      top: 62%;
      transition: 0.3s;
    }

    &.active {
      &::before {
        transform: rotate(45deg);
        top: 17px;
      }
      &::after {
        transform: rotate(-45deg);
        top: 17px;
      }
      & span {
        transform: scale(0);
      }
    }
  }
}
