@import './fonts.scss';
@import './variables.scss';

html {
  font-family: Roboto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 767px) {
    // body.lock {
    //   overflow: hidden;
    // }
    .container {
      max-width: none;
    }
}
}

@import './header.scss';

.intro-image > img {
  width: 100%;
}

.title {
  padding-top: 66px;
  padding-bottom: 25px;
  text-transform: uppercase;
  color: $color_1;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

@import './sections/resent-posts.scss';
@import './sections/instagram-shots.scss';
@import './footer.scss';