<section class="intagram-shots">
	<div class="intagram-shots__container container">
		<div class="intagram-shots__header">
			<h2 class="intagram-shots__header-title title"><a href="#">- Latest Instagram Shots</a></h2>
			<p class="intagram-shots__header-link"><a href="#">go to our instagram page -</a></p>
		</div>
		<div class="intagram-shots__images">
			<div class="intagram-shots__image">
				<img src="@img/post-1.png" alt="" class="item-intagram-shots"/>
			</div>
			<div class="intagram-shots__image">
				<img src="@img/post-2.png" alt="" class="item-intagram-shots"/>
			</div>
			<div class="intagram-shots__image">
				<img src="@img/post-3.png" alt="" class="item-intagram-shots"/>
			</div>
			<div class="intagram-shots__image">
				<img src="@img/post-4.png" alt="" class="item-intagram-shots"/>
			</div>
		</div>
	</div>
</section>