<section class="resent-posts container">
  <h2 class="resent-posts__title title"><a href="#">- our Recent posts</a></h2>
  <div class="resent-posts__items">
    <div class="item-resent-posts">
      <div class="item-resent-posts__icon"><img src="@img/post4img.png" alt="" /></div>
      <div class="posts-content">
        <div class="posts-content__title"><a href="#">Aenean Adipiscing Etiam Vestibulum</a></div>
        <div class="posts-content__about">Photography, Journal / 9 Comments</div>
        <div class="posts-content__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
      </div>
    </div>
    <div class="item-resent-posts">
      <div class="item-resent-posts__icon"><img src="@img/post-img.png" alt="" /></div>
      <div class="posts-content">
        <div class="posts-content__title"><a href="#">Aenean Adipiscing Etiam Vestibulum</a></div>
        <div class="posts-content__about">Photography, Journal / 9 Comments</div>
        <div class="posts-content__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
      </div>
    </div>
    <div class="item-resent-posts">
      <div class="item-resent-posts__icon"><img src="@img/post1img.png" alt="" /></div>
      <div class="posts-content">
        <div class="posts-content__title"><a href="#">Aenean Adipiscing Etiam Vestibulum</a></div>
        <div class="posts-content__about">Photography, Journal / 9 Comments</div>
        <div class="posts-content__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
      </div>
    </div>
    <div class="item-resent-posts">
      <div class="item-resent-posts__icon"><img src="@img/post6img.png" alt="" /></div>
      <div class="posts-content">
        <div class="posts-content__title"><a href="#">Aenean Adipiscing Etiam Vestibulum</a></div>
        <div class="posts-content__about">Photography, Journal / 9 Comments</div>
        <div class="posts-content__text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</div>
      </div>
    </div>
  </div>
</section>